@media screen and (min-width: 650px) and (max-width: 989px){
	
	body{
		line-height: 26px;
	}

	/*-------------------
	Header
	-------------------*/
	
	.callout{
		top: 40%;
	}

	.callout h1{
		width: 725px;
		font-size: 98px;
		line-height: 135px;
	}

	.callout h2{
		width: 585px;
		font-size: 25px;
		line-height: 40px;
	}

	.callout h3{
		width: 705px;
		font-size: 22px;
		line-height: 35px;
	}

	h1.subheader{
		max-width: 705px;
		margin: 0 auto;
		font-size: 40px;
		line-height: 60px;
	}

	h4{
		max-width: 705px;
		margin: 0 auto;
		font-size: 26px;
		line-height: 45px;
	}


	.contain p,
	.contain ul{
		max-width: 705px;
		font-size: 18px;
		line-height: 24px;
	}

}