body{
	height: 100%;
	width: 100%;
	background: #1d1d1d;
}

#menu{
	margin-left: -150px;
	width: 150px;
	position: fixed;
	top: 0;
	left: 150px;
	bottom: 0;
	z-index: 1000;
	background: #191818;
	-webkit-overflow-scroll: touch;
}

.pure-menu.pure-menu-open,
.pure-menu.pure-menu-horizontal li .pure-menu-children{
	background: transparent;
	border: none;
}

#menu .pure-menu-heading {
	font-size: 110%;
	color: #fff;
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
	background: #1d1d1d;
}

#menu .pure-menu-heading:hover{
	color: #999;
}

/*------------------------

	Buttons

-------------------------*/

.scroll{
	display: block;
	position: relative;
	z-index: 2;
	width: 50px;
	height: 50px;
	margin: 0 auto;
	text-align: center;
	line-height: 50px;
	color: #eee;
	background: rgba(0,0,0,0.2);
	border-radius: 50%;
	margin-top: 100px;
	cursor: pointer;
}

/*------------------------

	Panels

-------------------------*/

section{
	width: 100%;
	min-height: 1080px;
	margin: 0 auto;
}

.home{
	background: url('../images/bg1small.jpg') 0px 0px fixed no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.callout{
	width: 960px;
	max-width: 95%;
	position: fixed;
	top: 40%;
	left: 50%;
	z-index: 1;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.contain{
	width: 960px;
	max-width: 100%;
	margin: 0 auto;
}

.contain p{
	margin: 0 auto;
}

.work{
	background: #fff;
	position: relative;
	z-index: 10;
	padding-top: 30px;
}
