body{
	height: 100%;
	width: 100%;
	background: #1d1d1d;
}

#menu{
	margin-left: -150px;
	width: 150px;
	position: fixed;
	top: 0;
	left: 150px;
	bottom: 0;
	z-index: 1000;
	background: #191818;
	-webkit-overflow-scroll: touch;
}

.pure-menu.pure-menu-open,
.pure-menu.pure-menu-horizontal li .pure-menu-children{
	background: transparent;
	border: none;
}

#menu .pure-menu-heading {
	font-size: 110%;
	color: #fff;
	-webkit-transition: all 0.5s linear;
	-moz-transition: all 0.5s linear;
	-ms-transition: all 0.5s linear;
	-o-transition: all 0.5s linear;
	transition: all 0.5s linear;
	background: #1d1d1d;
}

#menu .pure-menu-heading:hover{
	color: #999;
}

/*------------------------

	Buttons

-------------------------*/

.scroll{
	display: block;
	position: relative;
	z-index: 2;
	width: 50px;
	height: 50px;
	margin: 0 auto;
	text-align: center;
	line-height: 50px;
	color: #eee;
	background: rgba(0,0,0,0.2);
	border-radius: 50%;
	margin-top: 100px;
	cursor: pointer;
}

.view-site a{
	display: block;
	/*padding: 10px 0;*/
	width: 100px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	font-family: 'Open Sans', arial, helvetica, sans-serif;
	position: absolute;
	top: 40%;
	left: 50%;
	margin-left: -50px;
	background: #1d1d1d;
	color: #eee;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.view-site a:hover{
	background: #eee;
	color: #1d1d1d;
}

/*------------------------

	Panels

-------------------------*/

section{
	width: 100%;
	margin: 0 auto;
}

.home{
	min-height: 1080px;
	background: url('../images/bg1small.jpg') 0px 0px fixed no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
}

.callout{
	width: 960px;
	max-width: 95%;
	position: fixed;
	top: 40%;
	left: 50%;
	z-index: 1;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.contain{
	width: 960px;
	max-width: 100%;
	margin: 0 auto;
}

.contain p{
	margin: 0 auto;
}

.work{
	background: #fff;
	position: relative;
	z-index: 10;
	padding: 40px 0 60px;
	box-shadow: 0px 1px 5px rgba(0,0,0,0.3);
}

.project{
	position: relative;
	z-index: 4;
	width: 100%;
	max-width: 100%;
	height: 300px;

}

.chris{
	background: url('../images/bg-chris.jpg') center 0px no-repeat;
}

.model-milk{
	background: url('../images/bg-model-milk.jpg') center 0px no-repeat;
}


.overlay{
	width: 100%;
	position: absolute;
	top: 0;
	bottom: 0;
	background: #fff;
	opacity: 0.3;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.overlay:hover{
	opacity: 0;
}

.blog{
	background: #eee;
	position: relative;
	z-index: 10;
	padding: 40px 0 60px;
	height: 900px;
}

.blog p{
	/*color: #eee;*/
}

.blog .subheader{
	color: #1d1d1d;
}

footer{
	background: #15181A;
	color: #eee;

}

footer .contain{
	text-align: center;
}

.avatar{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	margin: 15px auto;
}
