body{
    font-family: 'Open Sans', arial, helvetica, sans-serif;
}

p{
    margin: 0 auto 15px;
    color: #1d1d1d;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-family: 'Open Sans', arial, helvetica, sans-serif;
    border: none;
    padding-top: 10px;
    float: none;
}

ul{
    margin: 0 auto;
    font-family: 'Open Sans', arial, helvetica, sans-serif;
}

h1 {
    width: 350px;
    max-width: 100%;
    margin: 0 auto;
    color: #eee;
    font-style: normal;
    font-weight: 700;
    font-family: 'Open Sans' arial, helvetica, sans-serif;
    font-size: 45px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0px 0px 0px rgba(224, 224, 224, 1.00);
}

h1.subheader {
    font-weight: 400;
    font-style: normal;
    text-align: left;
    text-transform: none;
    font-family: 'Gentium Book Basic', georgia, serif;
    border-bottom: 1px solid #1d1d1d;
    margin: 0 0 10px 0;
}

.contain .subheader{
    border: none;
    text-align: center;
}

h2 {
    width: 335px;
    max-width: 100%;
    margin: 0 auto;
    color: #eee;
    font-family: 'Open Sans', arial, helvetica, sans-serif;
    font-size: 12px;
    border-top-width: 1px;
    border-style: solid;
    border-right: none;
    border-left: none;
    margin-top: 0px;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 10px;
    border-bottom-width: 1px;
    padding-top: 10px;
    padding-bottom: 10px;
}

h3 {
    width: 350px;
    max-width: 100%;
    margin: 0 auto;
    color: #eee;
    font-style: normal;
    font-weight: 400;
    font-family: 'Gentium Book Basic', georgia, serif;
    font-size: 10px;
    line-height: 15px;
    text-align: center;
    border: none;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 25px;
}

h4{
    max-width: 100%;
    text-align: left;
    color: #1d1d1d;
    font-family: 'Open Sans', arial, helvetica, sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 25px;
    padding: 0 15px;
}

.dark{
    color: #1d1d1d;
}

.push{
    margin-top: 25px !important;
}


/*------------------

    Links

-------------------*/

.photo{
    display: block;
    width: 200px;
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.photo p{
    max-width: 100%;
    color: #fff;
}

a{
    display: inline-block;
    padding: 2px 5px;
    background: #eee;
    color: #1d1d1d;
    text-decoration: none;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

a:hover{
    background: #1d1d1d;
    color: #eee;
}

h2 a{
    display: inline;
    padding: 0;
    background: none;
    text-decoration: none;
    color: #eee;
}

h2 a:hover{
    color: #eee;
    background: rgba(255,255,255,0.2);
}